@media only screen and (min-width: 320px) and (max-width: 480px) {
    .mobile_nav {
        width: 100%;
    }

    .mobile_nav .navbar-toggler {
        color: #4e555b;
        font-size: 30px;
    }

    .mobile_nav .navbar-toggler:focus {
        outline: none;
    }

    .responsive {
        padding: 0;
        order: 2;
    }

    #headerlogo {
        width: 70px;
    }

    .navbar {
        padding: 0.5rem 0;
    }

    .navbar-collapse .menunavbar ul {
        display: block;
        background: #0f92ff;
        position: relative;
        padding: 7px 10px;
    }

    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 87px;
    }

    .navbar-collapse .menunavbar:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #0f92ff;
        position: absolute;
        top: -14px;
        left: 70px;
    }
    .menunavbar {
        padding-top: 0px;
    }

    .navbar-collapse .menunavbar ul li {
        padding: 20px 0 10px;
    }

    .navbar-collapse .menunavbar ul li a {
        color: #fff;
    }

    .navbar-collapse .menunavbar ul li ol a {
        color: #000;
    }

    .navbar-collapse .menunavbar ul li:hover ol li {
        padding: 10px;
        color: #fff;
    }

    .navbar-collapse .menunavbar ul li ol li:hover a {
        color: #fff;
    }

    .searchbox_div .searchbox .searchdiv {
        margin-top: 0;
        border: 1px solid #0f92ff;
    }

    .searchbox_div .searchbox {
        background: transparent;
        width: 120px;
        padding: 0;
        margin: 0;
        height: 0;
    }

    .searchbox_div .searchbox .input-group-append .searchicon {
        height: 23px;
    }

    .searchinput {
        height: 26px;
    }

    .car_types_div .carTypesLScroll, .car_types_div .carTypesRScroll {
        display: block;
    }

    #lastcars {
        padding-bottom: 10px;
    }

    #carTypes {
        margin-top: 30px;
    }

    .filter_row {
        display: block;
    }

    .car-filters {
        height: 370px;
    }

    .body-cats {
        justify-content: center;
    }

    .body-cars {
        width: 100%;
    }

    .select-options-filter {
        padding-top: 0;
    }

    .filter-date-btn {
        margin-top: 30px;
    }

    .filter-date-btn button {
        margin-top: 30px;
        width: 100%;
    }

    .filter-date-d {
        width: 45%;
    }
    .cars-article img {
        width: 85%;
        height: 185px;
        margin-top: 20px;
    }
    .car-informacion-article p {
        font-size: 14px;
    }
    .carbidding-container {
        margin-top: 60px;
    }
    .article-price {
        width: 95px;
        top: 2%;
        left: 35%;
    }
    .drop-text {
        display: none;
    }
    .inform_txt_responsive {
        display: block;
        background-image: linear-gradient(#0f92ff61, #0f92ff1f);
        width: 76.2%;
        position: absolute;
        height: 135px;
        top: 35%;
        left: 12%;
        padding: 10px 0;
    }
    .inform_txt_p {
        color: #fff;
        font-size: 10px;
        text-align: center;
    }

    /*about page design*/
    .carousel-arrow-left, .carousel-arrow-right {
        top: 40%;
    }
    .carousel-arrow-left .fa-chevron-left, .carousel-arrow-right .fa-chevron-right {
        font-size: 30px;
    }
    .bg_img {
        background-image: url(../img/design_img/bg1.jpg);
        background-repeat: no-repeat;
        height: 380px;
        background-size: cover;
        background-position: center;
        margin-top: 58px;
    }
    .about_div {
        padding: 40px 0;
        background-image: linear-gradient(#0f92ffd9, #0f92ff59);
        height: 395px;
        overflow-y: scroll;
    }
    .about_paragraph {
        font-size: 18px;
        padding-bottom: 0;
    }
    .hello {
        font-size: 15px;
    }
    .contacts_div {
        order: 2;
    }
    .contacts_div_txt .add_services_title {
        font-size: 18px;
        margin: 10px 0 30px;
    }
}

@media only screen and (min-width: 468px) and (max-width: 768px) {
    .mobile_nav .navbar-toggler {
        color: #4e555b;
        font-size: 50px;
    }

    .mobile_nav .navbar-toggler:focus {
        outline: none;
    }

    .mobile_nav {
        width: 100%;
        justify-content: space-between;
    }

    .responsive {
        padding: 0;
        order: 2;
    }

    .navbar {
        padding: 0.5rem 0;
    }

    .navbar-collapse .menunavbar ul {
        display: block;
        background: #0f92ff;
        position: relative;
        padding: 7px 10px;
    }

    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 87px;
    }

    .navbar-collapse .menunavbar:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #0f92ff;
        position: absolute;
        top: -14px;
        left: 70px;
    }

    .navbar-collapse .menunavbar ul li {
        padding: 20px 0 10px;
    }

    .navbar-collapse .menunavbar ul li a {
        color: #fff;
    }

    .navbar-collapse .menunavbar ul li ol a {
        color: #000;
    }

    .navbar-collapse .menunavbar ul li:hover ol li {
        padding: 10px;
        color: #fff;
    }

    .navbar-collapse .menunavbar ul li ol li:hover a {
        color: #fff;
    }

    .searchbox_div .searchbox .searchdiv {
        margin-top: 0;
        margin-left: 20px;
        border: 1px solid #0f92ff;
    }

    .searchbox_div .searchbox {
        background: transparent;
        width: 210px;
        margin: 0;
        height: 0;
    }

    .searchbox_div .searchbox .input-group-append .searchicon {
        height: 23px;
    }

    .searchinput {
        height: 26px;
    }

    .body-cars {
        width: 100%;
    }

    .filter-date-btn {
        margin-top: 0;
    }

    .filter-date-btn button {
        margin-top: 30px;
        width: 100%;
    }

    .filter-date-d {
        width: 45%;
    }
    .drop-text {
        left: 15px;
        width: 87.5%;
    }
    .article-price {
        left: 65px;
    }
    .carousel-arrow-left .fa-chevron-left, .carousel-arrow-right .fa-chevron-right {
        font-size: 40px;
    }
    .bg_img {
        background-repeat: no-repeat;
        height: 535px;
        background-size: cover;
        background-position: center;
    }
    .about_div {
        padding: 40px 0 10px;
        height: 500px;
        overflow-y: scroll;
    }
    .about_paragraph {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1200px) {
    .responsive {
        padding: 0 60px;
    }
}
