body {
    background-color: #FFFFFF;
    background-image: url('/img/desing_img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: 0 -280px;
    background-size: contain;
}

.carbidding-container {
    margin-top: 120px;
}

/*.container-back{*/
/*    background-color: silver;*/
/*}*/
.gender {
    margin-top: 10px;
}

.avatarusers {
    width: 55px;
    border-radius: 100%;
}

.btn-primary:hover {
    background-color: #2e649e !important;
    color: #FFFFFF;
}

.logo {
    padding: 0 !important;
    background: white !important;
    height: 110px;
}

.logo_img {
    width: 65%;
    margin-left: 40px;
    margin-top: 10px;
}

.searchusers {
    display: block;
    margin: 0 !important;
}

.uspageform {
    border-radius: 0 !important;
}

.selects {
    -webkit-appearance: none;
    background: url('/img/desing_img/rowselects.PNG');
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 20px 32px;
}

#bodyadd {
    border-radius: 50px;
    display: block;
    margin-top: 2px;
    font-size: 20px;
    padding: 7px 15px;
}

#bodyicon {
    margin-top: 30px;
}

.iconbody {
    width: 90px;
    background-color: #2e649e;
    padding: 5px 20px;
}

.onepng {
    width: 50px;
}

.onetime {
    margin-top: 50px;
}

#modeladd {
    border-radius: 50px;
    display: block;
    margin-top: 2px;
    font-size: 20px;
    padding: 7px 15px;
}

#modelicon {
    margin-top: 30px;
}

.iconmodel {
    width: 95px;
}

#stateadd {
    border-radius: 50px;
    display: block;
    margin-top: 2px;
    font-size: 20px;
    padding: 7px 15px;
}

#stateicon {
    margin-top: 30px;
}

#parkingadd {
    border-radius: 50px;
    display: block;
    margin-top: 2px;
    font-size: 20px;
    padding: 7px 15px;
}

#parkingicon {
    margin-top: 30px;
}

#auctioncatadd {
    border-radius: 50px;
    display: block;
    margin-top: 2px;
    font-size: 20px;
    padding: 7px 15px;
}

#auctioncaticon {
    margin-top: 30px;
}

.pagination {
    justify-content: center;
    margin-top: 100px;
}

.searching {
    margin-top: 30px;
}

.searchbut {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.founds {
    padding-top: 25px;
}

.searchboxmodel {
    margin-top: -35px !important;
}

.cars-body {
    padding: 20px 25px;
}

.mainpicadmin {
    width: 100%;
}

.car-blok {
    margin-top: 60px;
}

.commentsadmin {
    background: #ca9a686b;
    padding: 20px 20px 10px 20px;
}

.descript {
    margin-top: 30px;
}

.carimages {
    width: 100px;
}


.headerback {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.headerlogo {
    width: 130px;
}

.carnavbar {
    border-bottom: 2px solid #A4A4A4;
    background-color: transparent;
}

.menunavbar ul > li {
    position: relative;
    float: left;
    padding: 15px 0;
}

.menunavbar a {
    color: black;
    text-decoration: none;
}

.menunavbar ul > li > a {
    cursor: pointer;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 600;
}

.menunavbar ul li, ol li {
    list-style: none;

}

.menunavbar ul {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.menunavbar ol > li {
    width: 160px;
    padding: 5px 0 5px 15px;
}

.menunavbar ol > li:hover {
    background-color: #2099fe;
}

.menunavbar ol > li:hover a {
    color: #f1f1f1;
}

.menunavbar ol {
    display: none;
    transition: opacity 1s ease-out;
    position: absolute;
    padding: 0 !important;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px;
}

.menunavbar ol:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f1f1f1;
    position: absolute;
    top: -15px;
    left: 35px;
}

.menunavbar ol > li > a {
    color: black;
    width: 230px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.menunavbar li:hover p {
    transform: rotate(90deg) !important;
    transition: 1s;
}

.menunavbar li:hover ol {
    opacity: 1;
    display: block;
}

.menunavbar {
    padding-top: 4px;
    display: flex;
}

.body-cars img {
    width: 50px;
}

.body-car-back1 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/00.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back2 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/33.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back3 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/88.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back4 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/44.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back5 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/55.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back6 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/66.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back7 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/77.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-car-back8 {
    width: 100%;
    height: 50px;
    background-image: url("/img/desing_img/99.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3px 17px;
    border-bottom: none;
}

.body-cars {
    border: 1px solid #0f92ff;
    background-color: white;
    margin: 0 10px;
    text-align: center;
    border-bottom: none;
    height: 96px;
    cursor: pointer;
}

.body-cars:hover .body-car-back1 {
    background-image: url("/img/desing_img/0.png") !important;
}

.body-cars:hover .body-car-back2 {
    background-image: url("/img/desing_img/3.png") !important;
}

.body-cars:hover .body-car-back3 {
    background-image: url("/img/desing_img/8.png") !important;
}

.body-cars:hover .body-car-back4 {
    background-image: url("/img/desing_img/4.png") !important;
}

.body-cars:hover .body-car-back5 {
    background-image: url("/img/desing_img/5.png") !important;
}

.body-cars:hover .body-car-back6 {
    background-image: url("/img/desing_img/6.png") !important;
}

.body-cars:hover .body-car-back7 {
    background-image: url("/img/desing_img/7.png") !important;
}

.body-cars:hover .body-car-back8 {
    background-image: url("/img/desing_img/9.png") !important;
}

.body-cars:hover .body-name {
    color: white !important;
}

.body-cars:hover {
    background-color: #0f92ff !important;
}

.body-name {
    color: black;
    text-align: center;
    font-size: 12px;
}

.text-name {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.car-filters {
    background-color: #0f92ff;
    height: 140px;
}

.body-cats {
    justify-content: space-between;
}

.select-options-filter {
    padding-top: 25px;
    flex-wrap: nowrap !important;
    justify-content: space-around;
}

.options {
    border-radius: 6px;
    border: 1px solid white;
}

.car-filters label {
    color: white;
}

.car-filters p {
    color: white;
    display: block;
}

.selectbox {
    margin-top: 8px;
}

.filter-date {
    max-width: 45%;
}

.now-ui-icons.ui-1_zoom-bold:before {
    content: "\ea64";
}

.filter-search-icon {
    width: 23px;
}

.cars-article img {
    width: 100%;
    height: 280px;
    position: relative;
    margin-top: 40px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.cars-root {
    margin-top: 50px;
}

.article-price {
    width: 110px;
    height: 33px;
    background-color: #2099FE;
    position: absolute;
    top: 26px;
    left: 120px;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0 0 21px -2px black;
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.article-price:hover {
    top: 19px;
    transition: 0.3s ease-out;
}

.article-price p {
    color: white;
}

.footer-background {
    background-color: #DAE2F0;
    border-top: 4px solid #0f92ff;
}

.footer-logo {
    text-align: center;
    font-weight: 600;
    background-position: center;
    background-image: url("/img/desing_img/carbiddinglogo.png");
    background-size: 500px;
    background-repeat: no-repeat;
}

.footer-opacity {
    background-color: #dae2f0e0;;
    padding-top: 50px;
    padding-bottom: 70px;
}

.lastcars {
    width: 100%;
}

.lastcars img {
    width: 100%;
}

#lastcars {
    margin-top: 60px;
    padding-bottom: 120px;
}

.slider-col {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.img-fluid {
    width: 100%;
}

#carouselExampleControls {
    box-shadow: 0 0 21px -2px black;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 60px !important;
    height: 45px !important;
}

.carousel-control-prev, .carousel-control-next {
    width: 9.2% !important;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: #0f92ff59;
}

.car-informacion {
    position: absolute;
    top: 0;
    right: 118px;
    background-color: #0f92ff59;
    width: 260.5px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.car-informacion p {
    color: white;
    font-weight: 600;
}

.text-hover {
    position: relative;
    overflow: hidden;
}

.drop-text {
    position: absolute;
    left: 15px;
    top: 82%;
    width: 92.5%;
    /*background-color: #6161619c;*/
    background-image: linear-gradient(#0f92ff61, #0f92ff1f);
    padding-top: 10px;
    padding-bottom: 20px;
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.car-informacion-article p {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.car-informacion-article {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.drop-text:hover {
    top: 38%;
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.input-row {
    margin: 0 !important;
    flex-wrap: nowrap;
}

/*.input-date::-webkit-datetime-edit-text { display: none;  }*/
/*.input-date::-webkit-datetime-edit-month-field { display: none; }*/
/*.input-date::-webkit-datetime-edit-day-field { display: none; }*/
/*.input-date::-webkit-datetime-edit-year-field { display: none; }*/
.input-date::-webkit-inner-spin-button {
    display: none;
}

/*.input-date::-webkit-calendar-picker-indicator { display: none; }*/
.input-date {
    width: 92%;
}

.searchcarsauction {
    color: #0f92ff;
    display: block;
    margin-right: 17px;
}

.cars-article img {
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.cars-article:hover img {
    transform: scale(1.1);
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.cars-article:hover .drop-text {
    left: 0;
    width: 100%;
    transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.carouselin {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.bg_img {
    background-image: url(/img/about_img/about_txt.png);
    background-size: cover;
    height: 940px;
}

.about_div {
    color: #fff;
    padding: 45px 0px;
    text-align: center;
}

.about_paragraph {
    text-align: center;
    padding-bottom: 20px;
}

.about_txt {
    text-align: right;
}

.hello {
    text-align: center;
}

.show_more_btn {
    background: #fff;
    border: none;
    color: #0C74CA;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 30px;
}

.show_more_btn:focus {
    outline: none;
}

/*partners section*/
.partners {
    background: #fff;
    padding: 50px 0px;
}

.partners_title {
    color: #0C74CA;
    font-size: 35px;
    text-align: center;
    padding: 30px 0px 10px;
}

.pics {
    padding: 30px 0px;
}

.pics > img {
    padding-right: 35px;
}

.searchinput {
    background-color: transparent;
    border: none;
    height: 27px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.searchdiv {
    border-radius: 6px;
    background-color: #ffffff;
    height: 27px;
    color: black;
    font-weight: 600;
}

.searchinput:focus {
    background-color: #4f4f500f;
    outline: none;
    box-shadow: none;
    border: none;
}

.searchdiv:focus {
    background-color: #4f4f500f;
    outline: none;
    box-shadow: none;
    border: none;
    outline: -webkit-focus-ring-color auto 1px;
}

.searchbox {
    padding-top: 15px !important;
    padding-left: 25px !important;
}

.searchicon {
    background-color: transparent;
    height: 27px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.butsearch {
    color: white;
    padding: 0;
    border: none;
    background-color: transparent;
}

.butsearch:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.contacts_div {
    color: #fff;
    font-size: 14px;
    background-color: #0C74CA;
    padding: 60px 15px 60px 15px;
}

.contact_title, .w_hours_title, .address_title {
    margin-top: 20px;
    font-size: 18px;
}

.mail_info {
    display: block;
}

.additional_services_btn button {
    background: #f1f1f1;
    color: #0C74CA;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
}

.additional_services_btn {
    text-align: right;
    margin-top: 30px;
}

.contacts_div_txt .add_services_title {
    font-size: 40px;
    color: #0C74CA;
    text-align: center;
    margin-top: 75px;
    text-shadow: -20px -12px #d6dadd;
}

span i {
    padding-right: 10px;
}

.map_img {
    background-image: url(/img/about_img/map.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
}

/* Show cars page */
.margin {
    margin-top: 79px;
    background: #fff;
}

.cars_section {
    margin-top: 30px;
}

.cars_section img {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#main_pic {
    width: 540px;
    height: 400px;
    cursor: pointer;
}

.small_pics_row {
    margin-top: 20px;
}

.smallImages {
    width: 110px;
    height: 100px;
    cursor: pointer;
}

/* car info styles  */
.car_info {
    margin-top: 30px;
    text-align: center;
}

.lot_number {
    font-size: 12px;
    background: #0C74CA;
    color: #fff;
    padding: 3px;
    text-align: center;
}

.current_prize {
    color: #0C74CA;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
}

.car_type {
    font-size: 20px;
    text-align: left;
}

.page-link{
    color: #0f92ff!important;
}

.page-item{
    cursor: pointer;
}

.pagination {
    justify-content: left;
    margin-top: 40px;
}
